.comment-main {
  width: 50vw;
  margin-top: 1vh;
  padding: 0.5vh;
  /* background-color: gray; */
}

.upper-main {
  width: 90%;
  /* background-color: aqua; */
}

.input-box {
  min-width: 50%;
  margin: 5;
  padding: 1vh;
}

.btn {
  margin-left: 10;
  cursor: pointer;
}

.comment-item {
  margin-top: 0.5vh;
  padding: 0.5vh;
  /* word-wrap: break-word; */
}

.list {
  padding-left: 2vh;
  width: 100%;
  /* background-color: red; */
}
